.skill-items{
    margin-left: 3rem;
}

.column-headers{
    font-weight: 600;
}

.section-separator{
    border-bottom: 1px solid #aeaeae;
}

/* original bar color: #aeaeae at 1px
   alternate: rgba(0, 169, 203, 0.32) */

.section{
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.title-name{
    margin: 4rem;
    text-align: center;
}

.experience-date{

}

.connect-buttons{
    text-align: center;
}

.center{
    text-align: center;
}
